<!-- GET /albums -->
<html>
    <head></head>
    <body>
        <h1>Album: {{albums.title}}</h1>
        <p>
            Released: {{albums.release_year}}
            Artist: {{albums.artist_id}}
        </p>
    <!-- ... -->
    </body>
</html>


<!-- Example for GET /albums/1 -->

<!-- <html>
  <head></head>
  <body>
    <h1>Doolittle</h1>
    <p>
      Release year: 1989
      Artist: Pixies
    </p>
  </body>
</html> -->

<!-- Example for GET /albums/2 -->

<!-- <html>
  <head></head>
  <body>
    <h1>Surfer Rosa</h1>
    <p>
      Release year: 1988
      Artist: Pixies
    </p>
  </body>
</html> -->